table.tax-rate-table {
    width:100%;
}
table.tax-rate-table .number-column {
    text-align: right;
}
table.tax-rate-table .text-column {
    text-align: left;
}

.accordion input.header{
    display: none;
}
.accordion label.header{
    width:100%;
}
.accordion input.header:checked ~ .content {
    max-height: 50em;
    transition: max-height 0.75s ease-in;
}
.accordion .content{
    max-height:0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
}

.not-included {
    opacity: 0.4;
}